# нажмите кнопку run чтобы запустить тесты
# 
# файлы с исходным кодом можно посмотреть на вкладке "Files":
# src/index.js        - тестируемая функция
# tests/index.test.js - тесты функции
# попробуйте изменять код функции / тестов, запуская проверки заново

run="npm test"
